{% extends ".templates/_base.html" %}

{% block content %}
<main id="goToContent">
    <!--  Exemplo SVG
    <i class="svg-facebook"><svg><use xlink:title="Siga nos no Facebook" xlink:href="#svg-facebook" /></svg></i>
    -->

    <!-- <div
        class="player"
        data-player-type="vimeo"
        data-player-options='{ "fullscreen": false }'
        data-player-id="vimeo-338980671"
        data-video-id="338980671">
    </div>

    <div
        class="player"
        data-player-type="youtube"
        data-player-options='{ "fs": "0" }'
        data-player-id="youtube-Cm3U-NgJb9I" data-video-id="Cm3U-NgJb9I">
    </div>

    <div
        class="player"
        data-player-type="facebook"
        data-player-options='{ "allowfullscreen": "false", "channel": "mladkane" }'
        data-player-id="facebook-10217427891162052"
        data-video-id="10217427891162052">
    </div>

    <div
        class="player"
        data-player-type="facebook"
        data-player-options='{ "allowfullscreen": "true", "channel": "PerdigaoOficial" }'
        data-player-id="facebook-418617978694416"
        data-video-id="418617978694416">
    </div> -->
</main>
{% endblock %}
