{% extends ".templates/_base.html" %}

{% block content %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Moradores</h1>
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <a href="{{ data.base }}/moradores/salvar/index.html" class="btn btn-primary"><i class="fas fa-plus"></i> Novo</a>
                        </h3>
                    </div>
                    <div class="card-body table-responsive">
                        {% component "table", params={entity:"moradores"} %}
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
{% endblock %}
